@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap');

@keyframes bounce {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

body {
    font-family: 'Poppins', sans-serif;
}

#bg-video {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-size: cover;
    overflow: hidden;
}

#bg-video video {
    width: 100vw;
    height: 100vh;
}

#bg-video::after {
    content: "";
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0, 0, 0, 0.84) 50%, rgba(0,0,0,1) 100%);
}

#cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin: 0 auto;
    max-width: 1200px;
}

#cabecalho #img-logo {
    width: 65px;
}

#cabecalho #menu {
    height: 100%;
    display: flex;
    align-items: center;
}

#cabecalho #menu li a {
    font-weight: bold;
    color: aliceblue;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 50px;
    transition: 0.2s;
}

#cabecalho #menu li a:hover {
    background-color: #d51d;
}

#container {
    display: flex;
    align-items: center;
    column-gap: 15px;
    padding: 0 30px 30px;
    margin: 0 auto;
    max-width: 1200px;
    height: calc(100vh - 210px);
}

#img-personagens{
    width: 70%;
    height: 70%;

}
#img-personagens:hover {
    animation: bounce 1s;
    
}

#img-titulo {
    max-width: 500px;
}

#sinopse {
    color: #a8abd7;
    width: 100%;
    font-size: 18px;
    text-align: justify;
    margin: 30px 0;
    line-height: 18pt;
}

#container #btn-trailer {
    background: rgb(255, 0, 0);
    color: aliceblue;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 200px;
    text-shadow: none;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
}

#container #btn-trailer:hover {
    transform: scale(1.1);
}

.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(8, 8, 8, 0.84);
    visibility: hidden;
}

#conteudo-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 15px;
}

#btn-fechar {
    background-color: aliceblue;
    color: red;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    width: 30px;
    cursor: pointer;
    border-radius: 5px;
    border: 0;
}

.modal.visivel {
    visibility: visible;
}